/************ Base styles ************/
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 50px;
}

/************ Simple Response Framwork. ************/


/************ Medium devices only ************/
@media (min-width: 992px) {
  .col-md-4 {
    float: left;
    border: 1px solid black;
  }
  .col-md-4 {
    width: 33.33%;
  }
}

/************ Small devices only ************/
@media (min-width: 768px) and (max-width: 991px)

/************ XS devices only ************/
@media (max-width: 767px)
