 /************ Base styles ************/
* {
  box-sizing: border-box;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

div {
   margin: 15px;
   padding: 15px;
}

/************ Simple Response Framwork. ************/
.row {
  width: 100%;
}

/************ Medium devices only ************/
@media (min-width: 992px) {
  .col-md-4 {
    float: left;
    border: 1px solid black;
    background-color: gray;
  }
  .col-md-4 {
    width: 33.33%;
  }
}

/************ Small devices only ************/
@media (min-width: 768px) and (max-width: 991px) {
  .col-sm-6, .col-sm-12 {
    float: left;
    border: 1px solid black;
    background-color: gray;
  }
  .col-sm-6 {
    width: 50%;
  }
 .col-sm-12 {
    width: 100%
 }
}

/************ Extra small devices only ************/
@media (max-width: 767px) {
 .col-xs-12 {
    float: left;
    border: 1px solid black;
    background-color: gray;
 }
 .col-xs-12 {
    width: 100%;
 }
}

h3 {
 background-color: red;
 text-align: center;
 width: 33.33%;
 margin-top: 0;
 position: relative;
 left: 66.66%
 border: solid black;
}
 
  
